[Desktop Entry]
Type=Application
Name={{name}}
Comment={{comment}}
Exec={{exec}}
Icon={{icon}}
Terminal=false
Categories=Utility;Sports;
StartupWMClass=com.imanlost.runalyzer
